body {
  background-color: #fd7e14 !important;
}

/* FORM REGISTER */
.container-form {
  width: 80%;
  margin: 50px auto 50px auto;
  background-color: white;
  border-radius: 15px;
  padding: 60px;
}
.container-login {
  width: 60%;
  margin: 50px auto 50px auto;
  background-color: white;
  border-radius: 15px;
  padding: 60px;
}
.gender {
  margin-left: 10px;
}
.my-botton {
  margin: 10px auto;
}

/* ACADEMIC */
input.form-control.input-student {
  background-color: #ced4da;
}s
.botton-academic {
  margin-top: 20px;
}
.btn-reject {
  margin-left: 15px;
}
.btn-info {
  margin-left: 15px;
}
.error {
  color: red;
}
.register-success {
  color: green;
}